<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Order N123 
        </mat-panel-title>
        <mat-panel-description>
          Example Order
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <input matInput placeholder="Order N123" disabled>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Driver : Navruzbek" disabled>
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Order N234 
        </mat-panel-title>
        <mat-panel-description>
          Example Order
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <input matInput placeholder="Order N234" disabled>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Driver : Oleg" disabled>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>