<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card fxFlex="100">
            <mat-card-header fxLayoutAlign="space-between center">
                <mat-card-title>{{dispatcher ? dispatcher.user.first_name : 'Dispatcher'}}'s drivers</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="row wrap">
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="driver">
                        <mat-header-cell *matHeaderCellDef> Driver </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.user.first_name}} {{element.user.last_name}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="monday">
                        <mat-header-cell *matHeaderCellDef>
                            <div>
                                <span style="display: block;">Monday</span>
                                <span>{{getDates("Monday") | date}}</span>
                            </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" (click)="getOrders(element.orders, 'Monday', element.id)">
                            <span matBadge="{{sortOrders(element.orders, 'Monday').length}}"
                                matBadgeOverlap="false">
                            </span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="tuesday">
                        <mat-header-cell *matHeaderCellDef>
                            <div>
                                <span style="display: block;">Tuesday</span>
                                <span>{{getDates("Tuesday") | date}}</span>
                            </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" (click)="getOrders(element.orders, 'Tuesday',element.id)">
                            <span matBadge="{{sortOrders(element.orders, 'Tuesday').length}}"
                                matBadgeOverlap="false"></span></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="wednesday">
                        <mat-header-cell *matHeaderCellDef>
                            <div>
                                <span style="display: block;">Wednesday</span>
                                <span>{{getDates("Wednesday") | date}}</span>
                            </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"
                            (click)="getOrders(element.orders, 'Wednesday', element.id)"> <span
                                matBadge="{{sortOrders(element.orders, 'Wednesday').length}}"
                                matBadgeOverlap="false"></span></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="thursday">
                        <mat-header-cell *matHeaderCellDef>
                            <div>
                                <span style="display: block;">Thursday</span>
                                <span>{{getDates("Thursday") | date}}</span>
                            </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" (click)="getOrders(element.orders, 'Thursday', element.id)">
                            <span matBadge="{{sortOrders(element.orders, 'Thursday').length}}"
                                matBadgeOverlap="false"></span></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="friday">
                        <mat-header-cell *matHeaderCellDef>
                            <div>
                                <span style="display: block;">Friday</span>
                                <span>{{getDates("Friday") | date}}</span>
                            </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" (click)="getOrders(element.orders, 'Friday', element.id)">
                            <span matBadge="{{sortOrders(element.orders, 'Friday').length}}"
                                matBadgeOverlap="false"></span></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="saturday">
                        <mat-header-cell *matHeaderCellDef>
                            <div>
                                <span style="display: block;">Saturday</span>
                                <span>{{getDates("Saturday") | date}}</span>
                            </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" (click)="getOrders(element.orders, 'Saturday', element.id)">
                            <span matBadge="{{sortOrders(element.orders, 'Saturday').length}}"
                                matBadgeOverlap="false"></span></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="sunday">
                        <mat-header-cell *matHeaderCellDef>
                            <div>
                                <span style="display: block;">Sunday</span>
                                <span>{{getDates("Sunday") | date}}</span></div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" (click)="getOrders(element.orders, 'Sunday',element.id)">
                            <span matBadge="{{sortOrders(element.orders, 'Sunday').length}}"
                                matBadgeOverlap="false"></span></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="sum">
                        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                        <mat-cell *matCellDef="let element"> $ {{element.gross}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>