<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->    
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card fxFlex="100">
            <mat-card-header  fxLayoutAlign="space-between center">
                <mat-card-title>Navruzbek's drivers</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="row wrap"> 
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="driver">
                        <mat-header-cell *matHeaderCellDef> Driver </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="monday">
                        <mat-header-cell *matHeaderCellDef>
                            <div>
                                <span >Monday</span><br>
                                <span >7/10/19</span>
                            </div>
                 
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" (click)="getOrders(element)"> <span matBadge={{element.orders.length}}
                                matBadgeOverlap="false"></span></mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="tuesday">
                        <mat-header-cell *matHeaderCellDef> Tuesday </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.orders.length}} </mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="wednesday">
                        <mat-header-cell *matHeaderCellDef> Wednesday </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="thursday">
                        <mat-header-cell *matHeaderCellDef> Thursday </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="friday">
                        <mat-header-cell *matHeaderCellDef> Friday </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="saturday">
                        <mat-header-cell *matHeaderCellDef> Saturday </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="sunday">
                        <mat-header-cell *matHeaderCellDef> Sunday </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="sum">
                        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                        <mat-cell *matCellDef="let element"> $ {{element.sum}} </mat-cell>
                    </ng-container>
        
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->    
</div>